@{
    ViewBag.Title = "Schedule";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
@model List<Match>
<html>
<head>
    <link rel="stylesheet" href="~/css/FLM-2023.PlayerTable.css" />
    <link rel="stylesheet" href="~/css/FLM-2023.MatchSchedule.css" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Page</title>
</head>
<body>
    <div class="container">
        <h1 class="section-heading">Match By Date</h1>
        <div class="matchs" id="match-date">
            @foreach (var (item, index) in Model.Select((item, index) => (item, index + 1)))
            {
                <div class="match clickable-div" onclick="redirectToMatchDetails('@item.MaTd')">
                <div class="match-info">
                    <h4 class="group">@ViewBag.LeagueName</h4>
                    <h4>Match Number<span class="badge">@index</span> </h4>
                </div>
                <div class="flags">
                    <div class="home-flag">
                            <img src="~/images/@item.MaDoiNhaNavigation.ImgPath" alt="@item.MaDoiNhaNavigation.TenClb" class="flag" />
                            <h3 class="home-team">@item.MaDoiNhaNavigation.TenClb</h3>
                    </div>
                    <span class="vs">
                        VS
                    </span>
                    <div class="away-flag">
                            <img src="~/images/@item.MaDoiKhachNavigation.ImgPath" alt="@item.MaDoiKhachNavigation.TenClb" class="flag" />
                            <h3 class="home-team">@item.MaDoiKhachNavigation.TenClb</h3>
                    </div>
                </div>
                <div class="time-area">
                    <div class="time">
                        <h4 class="month">@item.MatchDate.Month</h4>
                        <h4 class="day">@item.MatchDate.DayOfWeek</h4>
                        <h4 class="date">@item.MatchDate.Day</h4>
                    </div>
                    <h4 class="match-time">@item.MaDoiNhaNavigation.TenSvd</h4>
                </div>
            </div>
            }

        </div>
        
    </div>
    <div class="scroll-top">
        <img src="arrow.png" alt="arrow" />
    </div>
    @if (ViewBag.is_admin || ViewBag.is_owner )
    {
        <form method="post">
            <div class="card-wrapper">
            <div class="button-container">
                <button asp-controller="Schedule" asp-action="MatchScheduler" asp-route-leagueId="@ViewBag.leagueId" class="custom-button">
                    Generate New Schedule
                </button>
            </div>
        </div>

    </form>
    }
    <script>
        function redirectToMatchDetails(matchId) {
            // Perform the desired action here
            window.location.href = "/Schedule/MatchDetails?matchId=" + matchId;
        }
    </script>


</body>
<script src="~/js/FLM-2023.PlayerScript.js"></script>
</html>
